body {
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 24px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    display: flex;
    flex-wrap: wrap;
    background-color: seashell;
    border-bottom: 2px solid grey;
}

header div {
    padding-left: 2em;
    padding-right: 2em;
    white-space: nowrap;
}

header div.left {
    margin-right: auto;
}

header div.right {
    text-align: right;
}

header h1 {
    margin: 0;
    padding: 0;
}

main {
    max-width: 61em; /* Maximum width for content */
    width: 100%; /* Take full viewport width if smaller than max-width */
    margin-left: auto;
    margin-right: auto;
    background-color: seashell;
    padding: 0.75em; /* Keep original padding */
    flex: 1;
    box-sizing: border-box; /* Include padding in width calculations */
    overflow-x: auto; /* Enable horizontal scrolling for main content */
}

main p:first-child {
    margin-top: 0;
}

main p:last-child {
    margin-bottom: 0;
}

footer {
    background-color: seashell;
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-top: 2px solid grey;
    padding-top: 0.1em;
    padding-bottom: 0.3em;
    font-size: 0.75em;
}

@font-face {
    font-family: 'anglish';
    src: url('../font/AnglishNotoSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.runes, r {
    font-family: 'anglish', sans-serif;
    font-size: 1.25em;
}

/* Table styles */
.table-wrapper {
    width: 100%; /* Ensure wrapper takes full width of main */
}

table {
    width: 59em; /* Fixed width for the table */
    border-collapse: collapse;
    margin: 1em 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
    color: #333;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

td {
    background-color: #fff;
}