html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #333;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 18px;
    height: 100vh; /* Ensure body takes full viewport height */
    overflow: hidden; /* Prevent body from scrolling */
}

/* Header styles */
header {
    color: #2c3e50;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: x-large;
    flex-shrink: 0; /* Prevent header from shrinking */
}

.h1-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.h1-horizontal .left {
    margin-right: auto;
    margin-left: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

.h1-horizontal .right {
    margin-left: auto;
    margin-right: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

/* Main content styles */
main {
    flex: 1;
    width: 50vw;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Enable vertical scrollbar for main */
    max-height: calc(100vh - 100px); /* Adjust based on header/footer height */
}

section {
    font-size: 1rem;
}

section a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

section a:hover {
    text-decoration: underline;
    color: #2980b9;
}

/* Footer styles */
footer {
    padding-left: 1em;
    background-color: #fff;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; /* Prevent footer from shrinking */
}

@font-face {
    font-family: 'anglish';
    src: url('../font/AnglishNotoSansRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.runes, r {
    font-family: 'anglish', sans-serif;
}


.table_component {
    overflow: auto;
    width: 100%;
}

.table_component table {
    border: 1px solid #dededf;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    border: 1px solid #dededf;
    background-color: #eceff1;
    color: #000000;
    padding: 5px;
}

.table_component td {
    border: 1px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}